:root {
    --primary-background-blue: #01081B;
    --primary-background-white: #e9e9e9;
    --primary-black: #000000;
    --font-white: #ecebeb;
    --font-black: #0e0e0e;
    --secondary-color: #8E6202;
    --secondary-blue: #0075AC;
    --header-font-size: 4.4rem;
    --subHeader-font-size: 1.4rem;
    --header-gray: #c7c7c7;
    --header-blue: #0a1639;
    --card-blue: #08112D;
    --skills-header-grey: #313131;
    --skills-background: #131313;
    --skills-card-grey: #131313;
    --primary-font-size: 1rem;
    --padding: 10px;
    --margin-t: 4em;
    --padding-x: 6em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--primary-font-size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
}

button,
input {
    font-weight: 700;
    overflow-x: hidden;
}

/* ----------------- My Formatting -----------------  */

/*--------------- Back to Top ----------------*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    /* Hidden initially */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
}

.back-to-top:hover {
    background-color: #0056b3;
}

/* Button animation (optional) */
.back-to-top.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.back-to-top.hide {
    opacity: 0;
    transform: translateY(20px);
}

/*--------------- Back to Top ----------------*/

.mt {
    margin-top: var(--margin-t);
}

.px {
    margin-left: var(--padding-x);
    margin-right: var(--padding-x);
}

.container-px {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.bg-primary-blue {
    background-color: var(--primary-background-blue);
}

.by-primary-white {
    background-color: var(--primary-background-white);
}

.bg-primary-grey {
    background-color: var(--skills-background);
}

.card-padding-x {
    padding-top: 2rem;
}

a {
    text-decoration: none;
    /* Removes underline from the link */
    color: inherit;
    /* Keeps the text color consistent */
}

p {
    font-size: 15px;
    opacity: .8;
    margin-bottom: 0;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 100;
    color: var(--font-white);
}

ul {
    font-size: 1em;
    opacity: .9;
    padding-left: 14px;
}

ul li {
    font-size: 1em;
    opacity: .8;
}

img {
    object-fit: cover;
}

.Service_Msg {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    color: var(--font-white);
    background-color: var(--background-color);
}


/* ----------------- My Formatting -----------------  */

/* ----------------- Navbar Formatting -----------------  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    width: 100vw;
    top: 0;
}

.navbar-dark {
    background-color: #000 !important;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    opacity: 1;
    padding-right: 25px;
}

nav ul li {
    opacity: 1;
}

a:hover {
    color: #dddddd;
}

nav .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--font-white);
}

nav .logo img {
    width: 45px;
    padding-right: 6px;
}

nav .logo .item-name p {
    font-size: 1.4rem;
    font-weight: bolder;
    opacity: 1;
    margin: 0;
}

.navbar-expand-lg {
    display: flex;
    flex-grow: inherit;
    justify-content: space-around;
}

.navbar-collapse {
    flex-grow: unset;
}

.navbar-toggler {
    border: 2px solid #fff;
}

/* ----------------- Navbar Formatting -----------------  */


/*---------------Heading Styling-------------------*/
.subHeadPstn {
    position: relative;
    top: -1.3em;
    left: 2.2em;
}

.section-heading {
    text-align: center;
    font-weight: 600;
}

.section-heading-Gray {
    color: var(--header-gray);
}

.section-heading-Blue {
    color: var(--header-blue)
}

.section-heading h1 {
    font-size: var(--header-font-size);
    font-weight: bolder;
}

.section-subHeading-W {
    color: var(--font-white);
}

.section-subHeading-B {
    color: var(--font-black);
    opacity: 1;
}

.section-heading p {
    font-size: var(--subHeader-font-size);
}

.section-heading-Grey {
    color: var(--skills-header-grey)
}

/*---------------Heading Styling-------------------*/

/*---------------Landing Page Styling-------------------*/
/* CSS Variables */
:root {
    --primary-color: #ffffff;
    --highlight-color: #3498db;
    --background-color: #0d1b2a;
    --button-resume-bg: #d4a017;
    --button-contact-bg: #3498db;
    --button-text-color: #ffffff;
}

#Home {
    background-color: var(--primary-background-blue);
    height: 90vh;
}


.landing-page-container {
    display: flex;
    color: var(--font-white);
}

.sidebar {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    height: fit-content;
    background-color: #000;
    border-radius: 5px;
    border: 2px solid #8E6202;
}

.sidebar img {
    width: 50%;
    height: auto;
}

.sidebar img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.sidebar img:hover {
    transform: scale(1.2);
}


.main-content {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 9rem;
}

.content {
    text-align: left;
    flex: 1;
    padding: 40px;
}

.landing-page-container h1 {
    font-size: 5rem;
    font-weight: bold;
}

.highlight {
    position: relative;
    top: 1rem;
    color: var(--highlight-color);
    background-color: rgba(52, 152, 219, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 5rem;
    display: inline-block;
    transform: rotate(5deg);
}

.subtitle {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: 50px
}

.buttons {
    margin-top: 40px;
}

.resume-btn,
.contact-btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resume-btn {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
}

.resume-btn:hover {
    background-color: #644401;
    transition: all .3s;
}

.contact-btn {
    background-color: var(--secondary-blue);
    color: var(--button-text-color);
}

.contact-btn:hover {
    background-color: #025a83;
    transition: all .3s;
}

.landing-image-box {
    position: relative;
    left: 3em
}

#swirl {
    width: 17em;
    height: 17em;
    transform: rotate(-40deg);
    position: absolute;
    left: 50%;
}

#patternSquare {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 31em;
    left: 2rem;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: absolute;
    top: 100px;
    left: 100px;
}

#circle2 {
    position: absolute;
    left: 60%;
    top: 60%;
    background-color: var(--font-white);
}

#circle3 {
    position: absolute;
    left: 90%;
    top: 26%;
    background-color: var(--highlight-color);
}

/*---------------Landing Page Styling-------------------*/


/* ----------------- About Formatting -----------------  */
#about_img {
    position: absolute;
    left: 50%;
    top: 80em;
    z-index: 500;
}

.about-section {
    display: flex;
    background-color: #f4f4f4;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-placeholder {
    width: 300px;
    height: 300px;
    background-color: #d3d3d3;
    border-radius: 8px;
    margin-top: 20px;
    z-index: 500;
    background-image: url('imgs/me2.jpg');
    background-size: cover;
}


.right-panel {
    flex: 2;
    padding-left: 30px;
}

.about-heading {
    font-size: 4rem;
    color: #e0e0e0;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

.subheading {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.intro {
    color: #000000;
    line-height: 1.6;
    padding-top: .4rem;
    opacity: .9;
}

.highlight {
    color: var(--highlight-color);
    font-weight: bold;
}

.description {
    color: #555;
    line-height: 1.6;
    margin-top: 10px;
    opacity: 1;
}

.resume-button {
    margin-top: 20px;
    padding: 10px 20px;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.resume-button:hover {
    background-color: #333;
    color: #fff;
}

.name {
    color: #644401;
    font-weight: bold;
}

.skill1,
.skill2 {
    color: #000;
    font-weight: bold;
}

#aboutSwirl {
    position: absolute;
    top: 75em;
    left: 70%;
}


/* ----------------- About Formatting -----------------  */

/*---------------Skills Styling-------------------*/
.skills-section {
    width: 100%;
}


.skills-section #sectHead {
    font-size: 1.3em;
}

.tech-stack {
    border: 2px solid #025a83;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

.credHead {
    margin-top: 15px;
}
.tech-stack {
    background-color: #2c2c2e;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.tech-stack h3 {
    text-align: center;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tech-icons .icon {
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.tech-icons .icon img {
    width: 100%;
    height: auto;
}

.tech-icons .icon:hover {
    transform: scale(1.1);
}

.tech-icons #pandas_img {
    height: 4.5rem;
}

.react {
    border-radius: 8px;
    padding: 8px;
}

/* ----------------- Certifications Styling ----------------- */
.certifications {
    background-color: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.certification-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Reduced gap for better spacing */
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.certifications .cardC {
    background-color: #29292a;
    border-radius: 8px;
    padding: 25px 15px;
    height: auto;
    /* Remove fixed height */
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
    cursor: pointer;
    z-index: 400;
    flex: 1 1 calc(50% - 20px);
    /* Responsive sizing for large screens */
    max-width: 300px;
    /* Optional: prevent cards from growing too large */
}

.certifications .cardC img.cert-badge {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

.certifications .cardC:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.certifications .cardC h3 {
    margin-bottom: 20px;
}

.certifications .cardC p {
    color: #a7a6a6;
    opacity: 0.8;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
    .certifications .cardC {
        flex: 1 1 calc(33.33% - 20px);
        /* Two columns on medium-small screens */
    }
}

@media (min-width: 907px) {
    .certifications .cardC {
        flex: 1 1 calc(25% - 20px);
        /* Three columns on larger screens */
    }
}

/* ----------------- Certifications Styling ----------------- */

/*---------------Skills Styling-------------------*/

/* ----------------- Services Styling ----------------- */
.services-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: var(--card-blue);
    transition: transform 0.3s;
    cursor: pointer;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    z-index: 400;
    flex: 1 1 calc(50% - 20px);
    position: relative;
    /* Necessary for positioning the pseudo-element */
    overflow: hidden;
    /* Hide the overflow of the pseudo-element */
}

.service-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 500;
}

.services-section .service-card:hover::before {
    animation: shine 1s forwards;
    opacity: 1;
}

@keyframes shine {
    0% {
        transform: rotate(45deg) translate(-100%, -100%);
    }

    100% {
        transform: rotate(45deg) translate(100%, 100%);
    }
}

.services-section .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.service-card .s-description {
    text-align: left;
}

.service-card .img-box {
    text-align: left;
    padding-left: 20px;
}

.service-card img.service-icon {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

#serviceSwirl {
    position: absolute;
    left: 74%;
    z-index: 300;
}

/* Media queries for responsive design */
@media (min-width: 1024px) {
    .service-card {
        flex: 1 1 calc(50% - 20px);
        /* Two columns on medium screens */
    }
}

@media (min-width: 1240px) {
    .service-card {
        flex: 1 1 calc(25% - 20px);
        /* Two columns on medium screens */
    }
}

@media (max-width: 1024px) {
    .service-card {
        flex: 1 1 calc(50% - 20px);
        /* Two columns on medium screens */
    }
}

@media (max-width: 768px) {
    .service-card {
        flex: 1 1 calc(50% - 20px);
        /* Two columns on smaller tablets */
        max-width: 100%;
        /* Full width within container on smaller screens */
    }
}

@media (max-width: 480px) {
    .service-card {
        flex: 1 1 100%;
        /* Single column on mobile screens */
        max-width: 100%;
    }
}

/* ----------------- Services Styling ----------------- */


/*---------------Projects Styling-------------------*/
.projects-section .card-container {
    width: 100%;
    margin: 20px 0;
}

.projects-section .card .img-box {
    background-color: rgb(19, 19, 19);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 45%;
    height: 23em;

}

.projects-section .card .img-box img {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 16em;
}

.projects-section .card {
    background-color: var(--card-blue);
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.projects-section .card .content-box {
    padding: 25px 20px;
    width: 55%;
}


.projects-section .card .tech-box {
    font-size: 0.7em;
    color: #aaaaaa;
    margin-bottom: 30px;
}

.projects-section .card .tech-box span {
    margin-right: 4px;
}

.projects-section .card .description {
    margin-bottom: 10px;
    color: var(--font-white);
}

.projects-section .card .links {
    position: absolute;
    bottom: 17px;
    right: 20px;
    display: flex;
}

.projects-section .card .links a {
    color: #ffffff;
    text-decoration: none;
    transition: all .3s;
    margin-left: 15px;
    border: 2px solid var(--font-white);
    border-radius: 5px;
    padding: 2px 5px;
}

.projects-section .card .links a p {
    font-size: .9rem;
}

.projects-section .card .links a:hover {
    background-color: var(--font-white);
    opacity: 1;
    color: #000;
}

.projects-section .card .links #type-web {
    background-color: green;
    border: 2px solid green;
    pointer-events: none;
}

.projects-section .card .links #type-web:hover {
    color: var(--font-white);
}

.projects-section .card .links #type-etl {
    background-color: rgb(1, 56, 196);
    border: 2px solid rgb(1, 56, 196);
    pointer-events: none;
}

.projects-section .card .links #type-etl:hover {
    color: var(--font-white);
}

.projects-section .card .links #type-visual {
    background-color: rgb(196, 99, 1);
    border: 2px solid rgb(196, 99, 1);
}

.projects-section .card .links #type-visual:hover {
    color: var(--font-white);
}

#PBI {
    background-color: rgb(53, 51, 0);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#EXCEL {
    background-color: rgb(4, 142, 34);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#PYTHON {
    background-color: rgb(196, 170, 1);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#PANDAS {
    background-color: rgb(237, 234, 233);
    color: #181818;
    padding: 4px 5px;
    border-radius: 5px;
}

#NUMPY {
    background-color: rgb(1, 92, 196);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#JUPYTER {
    background-color: rgb(196, 108, 1);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#HTML {
    background-color: rgb(132, 73, 1);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#JS {
    background-color: rgb(164, 156, 6);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#CSS {
    background-color: rgb(1, 157, 196);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#BOOTSTRAP {
    background-color: rgb(99, 4, 102);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

#PHP {
    background-color: rgb(196, 108, 1);
    color: #fff;
    padding: 4px 5px;
    border-radius: 5px;
}

.graphic-container {
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping of items */
    justify-content: center;
    transition: all ease .3s;
}

.gallery-item {
    height: AUTO;
    box-sizing: border-box;
    /* Ensures padding/border don't affect width */
}

.gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    /* Start with grayscale */
    transition: filter 0.3s ease;
    /* Smooth transition for color change */
}

.gallery-item:hover {
    transform: translateY(-1px) scale(1.05);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out .3s;
}

.gallery-item:hover img {
    filter: grayscale(0%);
    transform: scale(1);
}


.graphic-container {
    display: grid;
    gap: 3px;
}

/* For large and medium screens */
@media (min-width: 768px) {
    .graphic-container {
        grid-template-columns: repeat(3, 1fr);
        /* 3 items per row */
    }
}

/* For small screens */
@media (max-width: 767px) {
    .graphic-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 items per row */
    }
}

/* Style individual gallery items */
.gallery-item img {
    width: 100%;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}


/* Medium screens (e.g., tablets) */
@media (max-width: 768px) {
    .projects-section .card {
        flex-direction: column;
    }

    .projects-section .card .img-box,
    .projects-section .card .content-box {
        width: 100%;
    }

    .projects-section .card .img-box {
        height: 12em;
        /* Adjusted height for smaller screens */
    }
}

/* Small screens (e.g., mobile phones) */
@media (max-width: 480px) {
    .projects-section .card-container {
        margin: 15px 0;
    }

    .projects-section .card {
        flex-direction: column;
    }

    .projects-section .card .img-box {
        height: 12em;
        /* Further adjusted height */
    }

    .projects-section .card .content-box {
        padding: 20px;
        text-align: center;
    }

    .projects-section .card .links {
        position: static;
        margin-top: 10px;
    }

    .gallery-item {
        width: 100%;
        /* Full width on small screens */
    }

}


/*---------------Projects Styling-------------------*/

/*---------------Contacts Styling-------------------*/
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background {
    display: flex;

}

.contact-container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: var(--skills-header-grey);
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 30px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.app-contact {
    margin-top: auto;
    font-size: .6rem;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: .7rem;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    border: none;
    color: var(--font-white);
    font-size: .9rem;
    cursor: pointer;
    outline: none;
    padding: 4px 6px;
    border-radius: 5px;
    transition: all ease-in-out .2s;
}

#btnSend {
    background-color: #ea1d6f;
}

#btnSend:hover {
    background-color: #b21353;
}

#btnCancel {
    background-color: #d41864;
    margin-right: .5rem;
}

#btnCancel:hover {
    background-color: #ad1652;
}


.credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: #4CAF50;
    /* Default success color */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
}

.popup.error {
    background-color: #f44336;
    /* Error color */
}

/* Error message styling */
.error-container {
    color: #f44336;
    /* Error text color */
    font-size: 12px;
    margin-top: 5px;
    display: none;
    /* Hidden by default */
}

/* Highlight fields with errors */
.input-error {
    border-bottom-color: #f44336 !important;
}


/*---------------Contacts Styling-------------------*/


/*---------------Footer Styling-------------------*/

.footer {
    background: #000;
    padding: 30px 0px 1px;
    font-family: 'Play', sans-serif;
    text-align: center;
    padding-bottom: 0;
}

.footer .row {
    width: 100%;
    margin: 0% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
    padding: 10px;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 20px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

/*---------------Footer Styling-------------------*/

/* Mobile devices (portrait) */
@media (max-width: 480px) {

    /* styles for extra small devices */
    #serviceSwirl {
        width: 20%;
    }

    .about-section {
        flex-direction: column;
    }

    /*------------------ My Formatting --------------- */
    .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .container-px {
        padding-top: 1rem;
    }

    .px {
        margin-left: 1px;
        margin-right: 1px;
    }

    p {
        font-size: .8rem;
        opacity: .8;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 15px;
        font-weight: 100;
        color: var(--font-white);
    }

    ul {
        font-size: 1rem;
        opacity: .9;
        padding-left: 14px;
    }

    ul li {
        font-size: 1em;
        opacity: .8;
    }

    .card-padding-x {
        padding-top: 0;
    }

    .row {
        text-align: center;
    }

    .footer .row ul {
        width: auto;
    }

    .footer .row ul li {
        text-align: center;
    }

    .Service_Msg {
        margin-top: 10px;
        padding: 10px;
    }

    /*------------------ My Formatting --------------- */


    /*---------------Navbar Styling-------------------*/
    nav .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--font-white);
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: .8rem;
        padding-bottom: .8rem
    }

    nav .logo img {
        width: 63px;
        padding-right: 6px;
    }

    nav .logo .item-name p {
        display: none;
    }

    /*---------------Navbar Styling-------------------*/


    /*---------------Landing Page Styling-------------------*/
    #about_img {
        display: none;
    }

    #Home {
        height: 70vh;
    }

    .sidebar {
        padding: 5px;
        gap: 7px;
    }

    .sidebar img {
        width: 50%;
        height: auto;
    }

    .sidebar img {
        width: 30px;
        height: 30px;
    }

    .main-content {
        margin-left: .5rem;
    }

    .content {
        padding: 2%;
    }

    .landing-page-container h1 {
        font-size: 2.5rem;
    }

    .highlight {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: .9rem;
    }

    .buttons {
        margin-top: 20px;
    }

    .resume-btn,
    .contact-btn {
        padding: 5px 6px;
        margin: 0 2px;
        font-size: .7rem;
    }

    .landing-image-box {
        position: relative;
        left: 0%;
    }


    .landing-image-box img {
        width: 90%;
        display: none;
    }

    .main-content .content {
        width: 80%;
    }

    .main-content .landing-image-box {
        width: 10%;
    }

    #swirl {
        width: 7em;
        height: 7em;
        top: 2rem;
    }

    #patternSquare {
        top: 26em;
        left: 2rem;
        width: 5em;
        height: auto;
    }

    .circle {
        width: 13px;
        height: 13px;
    }

    /*---------------Landing Page Styling-------------------*/

    /*------------------- Heading section -----------------*/
    .section-sub {
        width: 70%;
    }

    .subHeadPstn {
        position: relative;
        top: -1.9em;
        left: 6em;
    }

    :root {
        --header-font-size: 2.4em;
        --subHeader-font-size: 1rem;
    }

    /*------------------- Heading section -----------------*/

    /*---------------About Styling-------------------*/
    .image-placeholder {
        width: 200px;
        height: 180px;
    }

    .right-panel {
        padding-left: 0px;
        margin-top: 2rem
    }

    .resume-button {
        font-size: .7rem;
        padding: 5px 7px;
    }

    .about-section {
        padding-top: 20px;
    }

    .image-placeholder {
        margin-top: 0;
    }

    /*---------------About Styling-------------------*/
    /*---------------Skills Styling-------------------*/
    .skills-section #sectHead {
        font-size: 1.2em;
    }

    .tech-stack {
        border: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    }

    .tech-stack #pandas_img {
        height: 70px;
        width: auto;
    }

    .tech-stack,
    .certifications {
        padding: 20px;
        margin-bottom: 20px;
    }

    .tech-icons {
        justify-content: space-around;
        gap: 20px;
    }

    .tech-icons .icon {
        width: 80px;
        height: 80px;
    }

    .tech-icons .icon img {
        width: 100%;
        height: auto;
    }

    .tech-icons .icon:hover {
        transform: scale(1.1);
    }

    .react {
        border-radius: 8px;
        padding: 8px;
    }

    .certifications {
        background-color: inherit;
        width: 100%;
        padding: 0px;
    }

    .certification-cards {
        display: block;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .certifications .cardC img.cert-badge {
        width: 80px;
        margin-bottom: 13px;
    }


    .certifications .cardC {
        height: 16rem;
        margin-bottom: 20px;
        width: 100%;
        flex: 1;
        max-width: 100%;
    }

    .certifications .cardC:hover {
        transform: none;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    }

    .certifications .cardC h3 {
        margin-bottom: 30px;
    }

    .certifications .cardC p {
        color: #a7a6a6;
        opacity: .8;
    }

    /*---------------Skills Styling-------------------*/

    /* ----------------- Services Styling -----------------  */
    .services-section .service-card:hover {
        transform: none;
    }

    .service-card {
        width: 100%;
        padding: 20px;
    }

    .service-card img.service-icon {
        width: 90px;
        height: auto;
        margin-bottom: 15px;
    }

    /* ----------------- Services Styling -----------------  */

    /* ----------------- Projects Styling -----------------  */
    .projects-section .card {
        text-align: left;
        align-items: start;
        margin-bottom: 20px;
        border-radius: 10px 10px 0 0;
    }

    .projects-section .card .content-box {
        text-align: left;
    }

    .projects-section .card .links a p {
        font-size: .7rem;
    }

    .projects-section .card .img-box img {
        height: 12rem;
        border-radius: 10px 10px 0 0;
    }

    .projects-section .card .tech-box {
        font-size: .7rem;
    }

    .projects-section span {
        font-size: .5rem;
    }

    .projects-section .card .links {
        text-align: right;
    }

    /* ----------------- Projects Styling -----------------  */

    /* ----------------- Gallery Styling -----------------  */
    .app-title {
        font-size: 1.1rem;
    }

    /* ----------------- Gallery Styling -----------------  */

    .app-form-button {
        font-size: .7rem;
    }

    .projects-section .card-container .placeholder {
        border-radius: 10px 20px 0 0;
        background-color: red;
    }

    .projects-section .card-container .img-box {
        border-radius: 10px 10px 0 0;
    }
}

/* Mobile devices (portrait) */
@media (max-width: 369px) {
    .landing-page-container h1 {
        font-size: 2rem;
    }

    .highlight {
        font-size: 2rem;
    }

    .sidebar img {
        width: 25px;
        height: 25px;
    }


}

/* Mobile devices (landscape) */
@media (min-width: 481px) and (max-width: 767px) {

    /* styles for small devices */
    #serviceSwirl {
        width: 20%;
        left: 3%
    }

    .about-section {
        flex-direction: column;
    }

    /*---------------Heading Styling-------------------*/
    :root {
        --header-font-size: 2.5em;
        --subHeader-font-size: 1rem;
    }

    .section-sub {
        width: 70%;
    }

    .subHeadPstn {
        position: relative;
        top: -2em;
        left: 8em;
    }

    /*---------------Heading Styling-------------------*/
    /*---------------Navbar Styling-------------------*/
    nav .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--font-white);
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    nav .logo img {
        width: 60px;
        padding-right: 6px;
    }

    nav .logo .item-name p {
        font-size: 1.8rem;
    }

    .card-padding-x {
        padding-top: 0;
    }


    /*---------------Navbar Styling-------------------*/

    /*------------------ My Formatting --------------- */
    .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .px {
        margin-left: 1px;
        margin-right: 1px;
    }

    p {
        font-size: .8rem;
        opacity: .8;
    }

    h3 {
        font-size: .9rem;
        margin-bottom: 15px;
        font-weight: 100;
        color: var(--font-white);
    }

    ul {
        font-size: .8rem;
        opacity: .9;
        padding-left: 14px;
    }

    ul li {
        font-size: 1em;
        opacity: .8;
    }

    /*------------------ My Formatting --------------- */

    /*---------------Landing Page Styling-------------------*/
    #about_img {
        display: none;
    }

    #Home {
        height: 70vh;
    }

    .sidebar {
        padding: 6px;
        gap: 6px;
    }

    .sidebar img {
        width: 50%;
        height: auto;
    }

    .sidebar img {
        width: 28px;
        height: 28px;
    }

    .sidebar img:hover {
        transform: scale(1.1);
    }

    .main-content {
        margin-left: 1rem;
    }

    .content {
        padding: 4%;
    }

    .landing-page-container h1 {
        font-size: 2rem;
    }

    .highlight {
        font-size: 2.2rem;
    }

    .subtitle {
        font-size: .7rem;
    }

    .buttons {
        margin-top: 40px;
    }

    .resume-btn,
    .contact-btn {
        padding: 4px 7px;
        margin: 0 2px;
        font-size: .7rem;
    }

    .landing-image-box {
        position: relative;
        left: 0%;
    }


    .landing-image-box img {
        width: 70%;
    }

    #swirl {
        width: 8em;
        height: 8em;
        top: 2rem;
    }

    #patternSquare {
        top: 26em;
        left: 2rem;
        width: 5em;
        height: auto;
    }

    .circle {
        width: 13px;
        height: 13px;
    }

    /*---------------Landing Page Styling-------------------*/

    /*--------------------About Styling--------------------*/
    .image-placeholder {
        width: 200px;
        height: 180px;
    }

    .right-panel {
        margin-top: 20px;
    }

    .resume-button {
        font-size: .7rem;
        padding: 3px 7px;
    }

    .image-placeholder {
        margin-top: 0;
    }

    /*---------------About Styling-------------------*/

    /*---------------Skills Styling-------------------*/
    .skills-section #sectHead {
        font-size: 1em;
    }

    .tech-stack {
        border: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    }

    .tech-stack #pandas_img {
        height: 70px;
        width: auto;
    }

    .tech-stack,
    .certifications {
        margin-bottom: 20px;
    }

    .tech-icons {
        justify-content: space-around;
        gap: 20px;
    }

    .tech-icons .icon {
        width: 90px;
        height: 90px;
    }

    .tech-icons .icon img {
        width: 100%;
        height: auto;
    }

    .tech-icons .icon:hover {
        transform: scale(1.1);
    }

    /*---------------Skills Styling-------------------*/

    /* ----------------- Services Styling -----------------  */
    .services-section {
        display: flex;
    }

    .services-section .service-card:hover {
        transform: none;
    }

    .service-card {
        width: 100%;
        padding: 20px;
        max-width: 300px;
    }

    .service-card img.service-icon {
        width: 90px;
        height: auto;
        margin-bottom: 15px;
    }

    /* ----------------- Services Styling -----------------  */

}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {

    /* styles for medium devices */

    /*------------------ Navbar Formatting --------------- */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .9rem 4rem;
    }

    nav .logo img {
        width: 57px;
    }

    nav .logo .item-name p {
        font-size: 1.6rem;
    }

    /*------------------ Navbar Formatting --------------- */


    /*-------------------- My Formatting ----------------- */
    .container {
        max-width: 100%;
    }

    .px {
        margin-left: 1px;
        margin-right: 1px;
    }

    p {
        font-size: .9rem;
        opacity: .8;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    ul {
        font-size: .9rem;
        opacity: .9;
        padding-left: 14px;
    }

    ul li {
        font-size: 1em;
        opacity: .8;
    }

    .card-padding-x {
        padding-top: 0;
    }

    /*------------------ My Formatting --------------- */

    /*---------------Heading Styling-------------------*/
    :root {
        --header-font-size: 2.9em;
        --subHeader-font-size: 1rem;
    }

    .subHeadPstn {
        width: 70%;
        position: relative;
        top: -2em;
        left: 8.7em;
    }

    /*---------------Heading Styling-------------------*/


    /*---------------Landing Page Styling-------------------*/
    #Home {
        height: 70vh;
    }

    .sidebar {
        padding: 7px;
        gap: 8px;
    }

    .sidebar img {
        width: 50%;
        height: auto;
    }

    .sidebar img {
        width: 27px;
        height: 27px;
    }

    .sidebar img:hover {
        transform: scale(1.1);
    }

    .main-content {
        margin-left: 1rem;
    }

    .content {
        padding: 3%;
    }

    .landing-page-container h1 {
        font-size: 2.9rem;
    }

    .highlight {
        font-size: 2.9rem;
    }

    .subtitle {
        font-size: .9rem;
    }

    .buttons {
        margin-top: 40px;
    }

    .resume-btn,
    .contact-btn {
        padding: 5px 7px;
        margin: 0 8px;
        font-size: .8rem;
    }

    .landing-image-box {
        position: relative;
        left: 0%;
    }


    .landing-image-box img {
        width: 70%;
    }

    #swirl {
        width: 12em;
        height: 12em;
    }

    #patternSquare {
        top: 24em;
        left: 2rem;
        width: 6rem;
        height: auto;
    }

    .circle {
        width: 22px;
        height: 22px;
    }

    /*---------------Landing Page Styling-------------------*/

    /*--------------------About Styling---------------------*/
    .about-section {
        flex-direction: column;
        padding-top: 5px;
    }

    .resume-button {
        font-size: .8rem;
        padding: 3px 7px;
    }

    .right-panel {
        margin-top: 20px;
    }

    .image-placeholder {
        width: 250px;
        height: 250px;
    }

    /*--------------------About Styling---------------------*/

    .tech-icons .icon {
        width: 80px;
        height: auto;
    }

    .certifications .cardC img.cert-badge {
        width: 80px;
        height: auto;
    }

    /*-------------------Services Styling--------------------*/
    #serviceSwirl {
        width: 20%;
    }

    .service-card img.service-icon {
        width: 97px;
    }

    /*-------------------Services Styling--------------------*/

    /* ----------------- Projects Styling -----------------  */
    .projects-section .card {
        text-align: left;
        align-items: start;
        margin-bottom: 20px;
    }

    .projects-section .card .content-box {
        text-align: left;
    }

    .projects-section .card .img-box {
        height: 100%;
        border-radius: 10px;
    }

    .projects-section .card .img-box img {
        border-radius: 10px 10px 0 0;
        height: 19em;
        ;
    }

    .projects-section .card .tech-box {
        font-size: .9rem;
    }

    .tech-box span {
        padding: 12px;
    }

    .projects-section span {
        font-size: .6rem;

    }


    /* ----------------- Projects Styling -----------------  */
}

/* Tablets (landscape) and small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    /* styles for large devices */

    /*------------------ My Formatting --------------- */
    .container {
        max-width: 100%;
    }

    .px {
        margin-left: 40px;
        margin-right: 40px;
    }

    p {
        font-size: 1rem;
        opacity: .8;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 15px;
        font-weight: 100;
        color: var(--font-white);
    }

    ul {
        font-size: 1rem;
        opacity: .9;
        padding-left: 14px;
    }

    ul li {
        font-size: 1em;
        opacity: .8;
    }

    .card-padding-x {
        padding-bottom: 0;
        padding-top: 0;
    }

    nav .logo img {
        width: 66px;
    }

    nav .logo .item-name p {
        font-size: 2rem;
    }

    .navbar {
        padding-top: .9rem;
        padding-bottom: .9rem;
    }

    /*------------------ My Formatting --------------- */

    /*---------------Landing Page Styling-------------------*/
    #about_img {
        position: absolute;
        left: 56%;
        top: 63em;
    }

    #Home {
        height: 70vh;
    }

    .sidebar {
        padding: 7px;
        gap: 10px;
    }

    .sidebar img {
        width: 50%;
        height: auto;
    }

    .sidebar img {
        width: 40px;
        height: 40px;
    }

    .sidebar img:hover {
        transform: scale(1.1);
    }

    .main-content {
        margin-left: 2rem;
    }

    .content {
        padding-left: 7%;
        padding-right: 7%;
    }

    .landing-page-container h1 {
        font-size: 4.3rem;
    }

    .highlight {
        font-size: 4.3rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .buttons {
        margin-top: 50px;
    }

    .resume-btn,
    .contact-btn {
        padding: 8px 15px;
        margin: 0 8px;
        font-size: .8rem;
    }

    .landing-image-box {
        position: relative;
        left: 0%
    }


    .landing-image-box img {
        width: 80%;
    }

    #swirl {
        width: 12em;
        height: 12em;
    }

    #patternSquare {
        top: 33em;
        left: 2rem;
    }

    .circle {
        width: 22px;
        height: 22px;
    }

    /*---------------Landing Page Styling-------------------*/

    /*---------------Heading Styling-------------------*/

    :root {
        --header-font-size: 3rem;
        --subHeader-font-size: 1rem;
    }

    .subHeadPstn {
        position: relative;
        top: -2.2em;
        left: 2.2em;
    }

    /*---------------Heading Styling-------------------*/

    /*---------------About Styling-------------------*/
    .resume-button {
        font-size: .8rem;
        padding: 7px 10px;
    }

    .image-placeholder {
        width: 250px;
        height: 270px;
    }

    /*---------------About Styling-------------------*/

    /*---------------Service Styling-------------------*/
    #serviceSwirl {
        width: 20%;
    }

    /*---------------Service Styling-------------------*/

    .projects-section .card .img-box img {
        height: 23em;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }

}

/* Large desktops */
@media (min-width: 1200px) {

    /* styles for extra large devices */

    /*------------------ My Formatting --------------- */
    .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }



    p {
        font-size: 1rem;
        opacity: .8;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: 100;
        color: var(--font-white);
    }

    ul {
        font-size: .9rem;
        opacity: .9;
        padding-left: 14px;
    }

    ul li {
        font-size: 1em;
        opacity: .8;
    }

    .react {
        border: 2px solid #61dafb;
    }


    /*------------------ My Formatting --------------- */
    .navbar-dark .navbar-nav .nav-link {
        padding-right: 20px;
    }

    nav .logo img {
        width: 64px;
        padding-right: 6px;
    }

    nav .logo .item-name p {
        font-size: 1.7rem;
        font-weight: bolder;
        opacity: 1;
        margin: 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .navbar {
        padding-top: .9rem;
        padding-bottom: .9rem;
    }

    ul li {
        font-size: 1rem;
    }

    /*---------------Landing Page Styling-------------------*/
    #Home {
        background-color: var(--primary-background-blue);
        height: 90vh;
    }

    .sidebar {
        padding: 8px;
        gap: 12px;
    }

    .sidebar img {
        width: 50%;
        height: auto;
    }

    .sidebar img {
        width: 45px;
        height: 45px;
    }

    .sidebar img:hover {
        transform: scale(1.1);
    }

    .main-content {
        margin-left: 5rem;
    }

    .content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landing-page-container h1 {
        font-size: 5rem;
    }

    .highlight {
        font-size: 5rem;
        transform: rotate(5deg);
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .buttons {
        margin-top: 50px;
    }

    .resume-btn,
    .contact-btn {
        padding: 5px 10px;
        margin: 0 8px;
        font-size: 1rem;
    }

    .landing-image-box {
        position: relative;
        left: 0%
    }


    .landing-image-box img {
        width: 100%;
    }

    #swirl {
        width: 14em;
        height: 14em;
        transform: rotate(-40deg);
        position: absolute;
        left: 50%;
    }

    #patternSquare {
        width: 12em;
        height: 12em;
        position: absolute;
        top: 40em;
        left: 2rem;
    }

    .circle {
        width: 19px;
        height: 19px;
    }

    /*---------------Landing Page Styling-------------------*/


    /*---------------Section Heading Styling----------------*/
    .subHeadPstn {
        position: relative;
        top: -2em;
        left: 2.2em;
    }

    /*---------------Section Heading Styling----------------*/


    /*---------------About Styling-------------------*/
    .resume-button {
        font-size: .9rem;
        padding: 3px 10px;
    }

    #about_img {
        position: absolute;
        left: 56%;
        top: 76em;
    }

    /*---------------About Styling-------------------*/

    .projects-section .card .links a p {
        font-size: .8rem;
        opacity: 1;
    }

    .projects-section .card .img-box {
        border-radius: 5px;
    }

    .projects-section .card .img-box img {
        height: 23em;
        border-radius: 5px 0 0 5px;
    }

    .card-padding-x {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Ultra-wide screens */
@media (min-width: 1600px) {
    /* styles for 4K and ultra-wide screens */
}